.place__image {
  object-fit: cover;
  max-width: 460px;
  justify-self: center;
  object-position: bottom;
}

@media all and (max-width: 1200px) {
  .place__image {
    max-width: 440px;
  }
}

@media all and (max-width: 1000px) {
  .place__image {
    max-width: 340px;
  }
}

@media all and (max-width: 700px) {
  .place__image {
    max-width: none;
    width: 100%;
    max-height: 320px;
  }
}
