.intro {
  padding-left: 148px;
  max-width: 720px;
}

@media all and (max-width: 1200px) {
  .intro {
    padding-left: 48px;
  }
}

@media all and (max-width: 1000px) {
  .intro {
    padding: 0 24px;
  }
}

@media all and (max-width: 700px) {
  .intro {
    padding: 0 16px;
  }
}
