.lead__subtitle {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  display: flex;
  justify-content: center;
  max-width: 640px;
  text-align: center;
  align-self: center;
  margin: 0 auto 64px;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

@media all and (max-width: 1200px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin: 0 auto 56px;
  }
}

@media all and (max-width: 700px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto 40px;
  }
}
