.cover {
  min-height: 740px;
  margin: 3px 48px 0;
  background-image: url(../../images/baikalwithdogs.jpg);
  background-size: cover;
  background-position: center;
}

@media all and (max-width: 1200px) {
  .cover {
    margin: 3px 0 0;
    min-height: 640px;
  }
}

@media all and (max-width: 1000px) {
  .cover {
    min-height: 480px;
    transform: translate(0, -28px);
  }
}

@media all and (max-width: 700px) {
  .cover {
    min-height: 200px;
    transform: translate(0, -24px);
  }
}
