.cover__content {
  height: 100%;
  margin: 3px 48px 0;
  background-image: url(../../../images/baikalwithdogs.jpg);
  background-size: cover;
  background-position: center;
}

@media all and (max-width: 1200px) {
  .cover__content {
    margin: 3px 0 0;
  }
}
