.intro__title {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	display: flex;
	margin: 0 0 40px;
	font-size: 54px;
	font-weight: 900;
	line-height: 58px;
}
